.list {
  list-style: none;
  padding: 0;
  margin: 15px;
  display: flex; /* Горизонтальне розміщення карток */
  gap: 15px; /* Відступ між картками */
  justify-content: center; /* Центрування карток */
}
